:root {
  --mono-font: San Francisco Mono, Monaco, "Consolas", "Lucida Console",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  --sans-font: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
}

body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  font-size: 1rem;
  font-family: var(--sans-font);
}

.only-print {
  display: none;
}

.body img {
  width: 100%;
  max-width: 640px;
}

a {
  color: #000;
  text-decoration-skip-ink: auto;
  text-decoration: underline;
}

a:visited {
  color: #333;
}

p,
ul {
  margin: 1rem 0;
}

ul ul {
  margin: 0;
}

body,
h1 a {
  color: #111;
}

em {
  font-style: italic;
}

h1,
h2,
h3 {
  margin-bottom: 0.5rem;
  line-height: 1.25;
  font-weight: 600;
}

h1 {
  font-size: 32px;
  letter-spacing: 0.004em;
}

h2,
h3 {
  font-size: 1.5rem;
  letter-spacing: 0.009em;
}

h3 {
  font-size: 1.25rem;
}

hr {
  background: #000;
  height: 1px;
  border: 0;
}

.limiter {
  max-width: 640px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.pad2y {
  padding-top: 20px;
  padding-bottom: 20px;
}

.writing {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: 1fr min-content;
}

.writing a {
  font-weight: 500;
  letter-spacing: -0.015em;
}

.writing > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.writing time {
  padding-right: 0.25em;
  color: #333;
  font-variant-numeric: tabular-nums;
  letter-spacing: -0.012em;
  white-space: pre;
}

@media screen and (max-width: 640px) {
  .limiter {
    width: auto;
  }

  .writing {
    grid-template-columns: 1fr;
    grid-row-gap: 0;
  }

  .writing div {
    white-space: normal;
  }

  .writing time {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 640px) {
  .nu a {
    text-decoration: none;
  }

  .nu a:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 1024px) {
  .header-wrap {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1025px) {
  .header {
    position: absolute;
    top: 40px;
    right: 50%;
    margin-right: 340px !important;
    letter-spacing: -0.009em;
  }

  .content h1:first-child {
    margin-top: 0;
  }
}

@media print {
  .no-print {
    display: none;
  }

  .only-print {
    display: block;
  }

  body {
    margin: 0;
  }

  .limiter {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.code,
li code,
p code {
  font-family: var(--mono-font);
}

p code {
  font-size: 90%;
}

.m {
  color: #007f7f;
}

.s {
  color: #d01040;
}


.project-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.project-box a.project {
    text-decoration: none;
    color: #666;
}
.project-box a.project:hover, a {
    color: #000;
}
.project-box a.project img {
    display: block;
    margin-bottom: 10px;
}
@media screen and (max-width:480px) {
    .project-box {
    grid-template-columns: repeat(1, 1fr);
}

.project-box {
    grid-template-columns: repeat(2, 1fr);
}

